/* Stylize all the elements */

* {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylize the type selector */

.container {
    margin: 45px 110px;
}

/* Stylize the type selector */

input {}

/* Stylize the type selector */

button {}

/* Stylize the class selector */

.error {}

/* Stylize the type selector */

ul {}

/* Stylize the class selector */

.container {}