/* Stylize all the elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylize the type selector */

.container {
    margin: 45px 55px;
}

/* Stylize the type selector */

h1 {
    font-size: 40px;
    text-align: center;
}

/* Stylize the type selector */

input {
    padding: 5px 10px;
    font-size: 18px;
    flex: 5;
    border: 1px solid black;
    font-family: sans-serif;
}

/* Stylize the type selector */

button {
    padding: 8px;
    border: 1px solid grey;
    font-size: 18px;
    flex: 1;
}

/* Stylize the class selector */

.error {    
    color: red;
    width: 732px;
    font-size: 18px;
}

/* Stylize the type selector */

ul {
    margin: 10px 430px;
    font-size: 18px;
    text-align: center;
    list-style-type: none;
}

/* Stylize the class selector */

.container-input {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 40px;
}

/* Stylize the class selector */

.info {
    margin: 24px 0;
    font-size: 18px;
}