/* Stylize all the elements */

* {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylize the type selector */

.container {
    margin: 45px 110px;
}

/* Stylize the type selector */

h1 {
    font-size: 60px;
    text-align: center;
}

/* Stylize the type selector */

input {
    width: 300px;
    padding: 8px;
    font-size: 15px;
}

/* Stylize the type selector */

button {
    height: 36px;
    padding: 8px;
    border: 1px solid grey;
    display: inline-block;
    font-weight: bolder;
    font-size: 15px;
    width: 94px;
}

/* Stylize the class selector */

.error {    
    color: red;
    margin: 10px 320px;
}

/* Stylize the type selector */

ul {
    margin: 0 318px;
}

/* Stylize the class selector */

.container-input {
    text-align: center;
}

/* Stylize the class selector */

.info {
    margin: 50px 140px;
    font-size: 30px;
}